p {
  margin: 0;
}

.signature {
  display: flex;
  width: auto;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.disclaimer {
  align-self: stretch;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 32px;
  align-self: stretch;
  flex-wrap: wrap;
}

.person {
  display: flex;
  padding-right: 64px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.company {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.logo {
}
