.disclaimer {
  color: #000;
  text-align: justify;
  font-family: Helvetica;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.name {
  color: #4196aa;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.role {
  color: #091540;
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
